.sidebar .has-children:hover {
  background-color: transparent; 
}



.sidebar .collapse .nav-item:hover {
  background-color: #CED8E6;
  border-radius: 9px;
}
.sidebar:not(.has-children) li:hover{
    background-color: #BAC8DC;
}