.nav-item {
    color:#0A3A84;
    border:1px solid;
    border-radius: 9px;
}
.nav{
    list-style-position: inside;
    
}
ul li:hover{
    cursor: pointer;
    background-color: #BAC8DC;
}
ul li ul li:hover{
    cursor: pointer;
    background-color: #e6f0ff;
    border-radius: 9px;
}
.nav-link.active {
    color: var(--primary-color);
    background-color: rgba(11, 60, 141, 0.1);
    border-left-color: var(--primary-color);
}