.nav-item {
    color:#0A3A84;
    border:1px solid;
    border-radius: 9px;
}
.nav{
    list-style-position: inside;
    
}
ul li:hover{
    cursor: pointer;
    background-color: #BAC8DC;
}
ul li ul li:hover{
    cursor: pointer;
    background-color: #d3c8c5;
    border-radius: 9px;
}